{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        }
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "14"
            },
            "modules": false
          }
        ]
      ]
    }
  }
}